* {
    margin:0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-size: 14px;
    
}

.quienesSomos{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.containerQS{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.integrante{
    display: flex;
    width: 70%;
    margin: 10px;
    border: solid;
    border-radius: 10px;
}