* {
    margin:0;
    padding: 0;
    position: relative;
    
    
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


p{
    font-size: 16px;
    color: #54585a;
}
h1, h2 {
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
    text-align: center;
}
h3{
    font-size:  20px;
}
section.equipo {
	position: relative;
	background: #ffffff;
}
section.equipo:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	margin-left: -18px;
	margin-bottom: -18px;
	z-index: 1;
}

.fortalezas-debilidades {
    background: #f1f1f1;
    display:flex;
    flex-direction:column;
    text-align:center;
}
.fortalezas-debilidades h3 {
    font-family: 'Rubik', sans-serif;
    color: #099d8d;

}
.quienesSomos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.titleQS{
    margin: 30px;
    color: #099d8d;
}

.containerQS{
    display: flex;
    flex-direction: column;
    width: 90%;    
}

.integrante{

    margin-bottom: 45px;
    border-radius: 10px;

}

.imgInte{
    width: 180px;
    height: 180px;
    border: 3px solid;
    border-radius: 10px;
    border-color: grey;
}
.redesSociales{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.redesSociales a{
    margin-left: 5px;
    margin-right: 5px;
    color: #099d8d;
}
.redesSociales a:hover{
    color: #181919;
}

.info h3{
    margin-top: 15px;
    font-size: 24px;
}

@media (max-width: 1000px) and (min-width: 480px) {
    section.equipo {
        padding: 50px 0;
        }
        section.equipo p{
        padding: 20px 93px 0;
        text-align: center;
        }
    
       .fortalezas-debilidades {
            flex-direction:row;
            padding: 50px 60px;
            grid-gap:30px;
        }
        article.integrante{
            display: flex;
            grid-gap: 40px;
            margin: 20px 0;
        }
        .info {
            width:50%;
        }
        article.integrante.derecha{
            flex-direction: row-reverse;
    
        }
        article.integrante img {
            width: 205px;
            height: 205px;
        }
            article.integrante p{
            text-align: left;
            margin: 15px 0;
        }
        article.integrante h3{
            text-align: left; 
        }
        .redesSociales {
            justify-content: left;
            font-size: 18px;
        }
         article.integrante.derecha h3{
            text-align: right; 
        }
         article.integrante.derecha p{
            text-align: right; 
        }
         .derecha  .redesSociales {
            justify-content: flex-end;
        }      

}

@media (min-width: 1000px) {
	section.equipo {
	padding: 50px 0;
    }
    section.equipo p{
	padding: 20px 250px 0;
	text-align: center;
    }

   .fortalezas-debilidades {
        flex-direction:row;
        padding: 50px 60px;
        grid-gap:30px;
    }
    article.integrante{
        display: flex;
        grid-gap: 40px;
        margin: 20px 0;
    }
    .info {
        width:50%;
    }
    article.integrante.derecha{
        flex-direction: row-reverse;

    }
    article.integrante img {
        width: 278px;
        height: 278px;
    }
        article.integrante p{
        text-align: left;
        margin: 15px 0;
    }
    article.integrante h3{
        text-align: left; 
    }
    .redesSociales {
        justify-content: left;
        font-size: 18px;
    }
     article.integrante.derecha h3{
        text-align: right; 
    }
     article.integrante.derecha p{
        text-align: right; 
    }
     .derecha  .redesSociales {
        justify-content: flex-end;
    }   
}